MONGO_URI=mongodb://mongo:27017/birthday-reminder-db
PORT=3000
WORKER_PORT=3001
SMTP_HOST=live.smtp.mailtrap.io
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
SMTP_FROM=info@example.com